<div class="row">
    <div class="col-3">
        one way - from .ts to .html
    </div>
    <div class="col-3">

    </div>
    <div class="col-3">

    </div>
</div>

<div class="row">
    <div class="col-4">
        <div class="row">
            <div class="col-4 bg-success" >
                <!-- interpolation -->
                 interpolation
               <h4>{{coursename}}</h4> 
               <div>{{inputType}}</div>
               <input type="text" value={{coursename}} placeholder="Enter Text"/>
               <input type="{{inputType}}"/>
            </div>
            <div class="col-4">
                Property Binding
                <div [class]="myClassName">Danger</div>
                <input type="text" [value]="coursename">
                <input [type]="inputType1"/>
            </div>
            <div class="col-4">
                <button class="btn btn-success" (click)="showAlert('welcome angular 18')">show welcome</button>
                <span (click)="showAlert('This is Rabbin')">click me</span>
                <button class="btn btn-success" (click)="changeCourseName()">Change Course</button>
            </div>
        </div>   
    </div>
 
        <!-- <button class="btn btn-success" (click)="showAlert('welcome angular 18')">show welcome</button>
        <span (click)="showAlert('This is Rabbin')">click me</span>
        <button class="btn btn-success" (click)="changeCourseName()">Change Course</button> -->
    <div class="col-6">
        <input type="text" [(ngModel)]="coursename"/> -{{coursename}}

        <input type="checkbox" [(ngModel)]="isIndian"/>

        <select [(ngModel)]="statename">
            <option value="">select</option>
            <option value="Maharashtra">Maharashtra</option>
            <option value="Goa">Goa</option>
            <option value="Panjab">Panjab</option>
        </select>
    </div>
    <div class="col-6">
        <h2>{{firstName()}}</h2>
    </div>
</div>